<!-- <!DOCTYPE html>
<html lan="en" and dir="Itr">

    <head>
        <meta charset="utf-8" />
        <title> Interactive Login Form</title>
        <link rel="stylesheet" type="text/css" href="/cdn/style.css" />
        <script src="/cdn/scripts/class/index.js"></script>



    </head>

    <body>

        <form class="box" action="login.html" method="POST">
    
            <h1>
                login
            </h1>
            <input type="text" placeholder="Enter Username" id="username">
            <input type="password" placeholder="Enter Password" id="password">
            <input type="submit" value="Login" id="addButton">
            
            
            </form>
        <!-- <h1>
            login
        </h1>
        <input type="text" placeholder="Enter Username" id="username">
        <input type="password" placeholder="Enter Password" id="password">
        <button type="button" id="addButton">Add</button>
    </body>


     -->

<!DOCTYPE html>
<html lan="en" and dir="Itr">

    <head>
        <meta charset="utf-8">
        <title> Interactive Login Form</title>
        <link rel="stylesheet" href="/cdn/style.css">
        <script defer src="/cdn/scripts/login.js"> </script>



    </head>

    <body>
        <form class="box" id="login-form">

            <h1>
                login
            </h1>
            <input type="text" name="username" placeholder="Enter Username" id="username-field">
            <input type="password" name="password" placeholder="Enter Password" id="password-field">
            <input type="submit" name="" value="Login" id="login-form-submit">


        </form>


    </body>



</html>