<!DOCTYPE html>
<html lang="en">

<head>
    <title>MULTIWORDLE</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cdn/style.css" />


<body>


    <div id="gameArea">
        <!-- This is where the templates defined below will be used -->
    </div>

    <!-- Main Title Screen that appears when the page loads for the first time -->
    <script id="intro-screen-template" type="text/template">

        <div class="titleWrapper">

            <div class="title">
                MULTIWORDLE
            </div>

            <div style= 'text-align:center' class="buttons">

                <button id="btnCreateGame" class="Button">CREATE</button>
                <button id="btnJoinGame" class="Button">JOIN</button>
                <div style="clear:both"></div>
            </div>

        </div>

    </script>

    <!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
    <script id="create-game-template" type="text/template">
        <div class="createGameWrapper">

            <div class="info"> Game ID:</div>
            <div id="spanNewGameCode" class="gameId"></div>

            <div id="playersWaiting"></div>
        </div>
    </script>

    <!-- This screen appears when a player clicks "JOIN" on the Title Screen -->
    <script id="join-game-template" type="text/template">
        <div class="joinGameWrapper">
            <div class="info">
                <label for="inputPlayerName">Your Name:</label>
                <input id="inputPlayerName" type="text" />
            </div>

            <div class="info">
                <label for="inputGameId">Game ID:</label>
                <input id="inputGameId" type="text"/>
            </div>

            <div class="info buttons">
                <button id="btnStart" class="btn">Start</button>
                <div id="playerWaitingMessage"></div>
            </div>
        </div>
    </script>

    <!-- This is the 'Host' screen. It displays the word for each player to match -->
    <script id="host-game-template" type="text/template">
        <div id="wordArea">
        </div>
        
<div class="gameContainer">
            <div class="title">
                  <h1>MULTIWORDLE Multi PLAYER</h1>
                  <h3>You have 6 opportunities to guess the correct 5-letter word. Good luck!</h3>
            </div>
            <div class="messageContainer"></div>
            <div class = 'TITLECONTAINERS'>
            <div class="tileContainer1"></div>
            <div class="tileContainer2"></div>
            </div>
            <div class="keyContainer"></div>
      </div>

    </script>

<script src="/socket.io/socket.io.js"></script>
<script src="/cdn/libs/jquery-2.0.2.min.js"></script>
<script type="module" src="/cdn/playMulti.js"></script>
</body>

</html>