<!DOCTYPE html>
<html lang="en">

<head>
    <title>MULTIWORDLE</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cdn/style.css" />


<body>


    <div id="gameArea">
        <!-- This is where the templates defined below will be used -->
    </div>

    <!-- Main Title Screen that appears when the page loads for the first time -->
    <script id="intro-screen-template" type="text/template">

        <div class="titleWrapper">

            <div class="title">
                MULTIWORDLE
            </div>
<h3 style= 'text-align:center'>When you create a 2 player game, you will play against an opponent and try to guess a random word</h3>
<h3 style= 'text-align:center'>When you create a 3 player game, you will choose the word with which 2 other players will play against each other  </h3>
            <div style= 'text-align:center' class="buttons">

                <button id="btnCreateGame2" class="Button">CREATE 2 Player Game</button>
                <br>
                <br>
                <br>
                <br>
                <input id="hostWord" type="text" placeholder = 'Choose a 5-letter Word' />
                 <button id="btnCreateGame3" class="Button">CREATE 3 Player Game</button>
                 <br>
                 <br>
                 <br>
                 <br>
                <button id="btnJoinGame" class="Button">JOIN a Game</button>
                <div style="clear:both"></div>
            </div>

        </div>

    </script>

    <!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
    <script id="create-game-template" type="text/template">
        <div style= 'text-align:center' class="createGameWrapper">
            <div class="info"> Game ID:</div>
            <div id="spanNewGameCode" class="gameId"></div>

            <div id="playersWaiting"></div>
            
        </div>
    </script>

    <!-- This screen appears when a player clicks "JOIN" on the Title Screen -->
    <button id="btnStart" style= 'display: none;' class = 'Button'>START</button>
    <script id="join-game-template" type="text/template">
        <div style= 'text-align:center' class="joinGameWrapper">
            
            <div class="info">
                <input id="inputGameId" type="text" placeholder = 'Game ID' />
            </div>
                <div id="playerWaitingMessage"></div>
           
        </div>
    </script>

    <script id="waiting-screen" type="text/template">
            <div class="titleWrapper">
                    <h3>waiting for players</h3>
            </div>
            </script>
    <script id="host-3-template" type="text/template">
        <div class="titleWrapper" style= 'text-align:center'>
            <br>
            <br>
            <br>
            <br>
                <h3> You are waiting while 2 other players battle it out using your chosen word!</h3>

                <div class="messageContainer"></div>
        </div>
        </script>

    <!-- This is the 'Host' screen. It displays the word for each player to match -->
    <script id="host-game-template" type="text/template">
        <div id="wordArea">
        </div>
        

<div class="gameContainer">
            <div class="title">
                  <h1>MULTIWORDLE Multi PLAYER</h1>
                  <h3>You have 6 opportunities to guess the correct 5-letter word. Good luck!</h3>
            </div>
            <div class="messageContainer"></div>
            <div class = 'TITLECONTAINERS'>
            <div class="tileContainer1"></div>
            <div class="tileContainer2"></div>
            </div>
            <div class="keyContainer"></div>
      </div>

    </script>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/cdn/playMulti.js"></script>
</body>

</html>