<!-- <!DOCTYPE html>
<html lan="en" and dir="Itr">

    <head>
        <meta charset="utf-8" />
        <title> Interactive Login Form</title>
        <link rel="stylesheet" type="text/css" href="/cdn/style.css" />
        <script src="/cdn/scripts/class/index.js"></script>



    </head>

    <body>

        <form class="box" action="login.html" method="POST">
    
            <h1>
                login
            </h1>
            <input type="text" placeholder="Enter Username" id="username">
            <input type="password" placeholder="Enter Password" id="password">
            <input type="submit" value="Login" id="addButton">
            
            
            </form>
        <!-- <h1>
            login
        </h1>
        <input type="text" placeholder="Enter Username" id="username">
        <input type="password" placeholder="Enter Password" id="password">
        <button type="button" id="addButton">Add</button>
    </body>


     -->

     <!DOCTYPE html>
     <html lan="en" and dir="Itr">
     
         <head>
             <meta charset="utf-8">
             <title> Interactive Login Form</title>
             <link rel="stylesheet" href="/cdn/style.css">
             <script defer src="/cdn/scripts/signup.js"> </script>
     
     
     
         </head>
     
         <body>
             <form class="box" id="signup-form">
     
                 <h1>
                     login
                 </h1>
                 <input type="text" name="email" placeholder="Enter email" id="email-field">
                 <input type="password" name="password" placeholder="Enter Password" id="password-field">
                 <input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirm-password-field">
                 <input type="submit" name="" value="Sign Up" id="signup-form-submit">
     
     
             </form>
     
     
         </body>
     
     
     
     </html>