<!DOCTYPE html>
<html lang="en">

<head>
    <title>MULTIWORDLE</title>
    <meta charset="utf-8" />
    <link href="/cdn/style.css" rel="stylesheet" />
    <script src="/cdn/scripts/class/index.js"></script>

</head>

<body>
    <div class='title'>
        <h1>MULTIWORDLE SINGLE PLAYER</h1>
        <h3>You have 6 opportunities to guess the correct 5-letter word. Good luck!</h3>
    </div>
    <div class='board'>
    </div>
    <div class='keyboard'>
    </div>
    <div class='message'>
    </div>

</body>

</html>