<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <title>MULTIWORDLE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/cdn/style.css">

</head>




<body>
    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg pull-left" data-toggle="modal" data-target="#Logs"
            onclick="viewLogs()">View logs
        </button>

        <!-- Modal -->
        <div class="modal fade" id="Logs" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="color: black;"class="modal-title">Logs:</h4>
                    </div>
                    <div class="modal-body logs" >

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal"
            data-target="#Instruction">Instructions </button>

        <!-- Modal -->
        <div class="modal fade" id="Instruction" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="color: black;"class="modal-title">How To Play:</h4>
                    </div>
                    <div class="modal-body">
                        <p style="color: black;">Guess a 5 letter word and enter it via the onscreen keyboard or via
                            your physical keyboard.<br></p>
                            <p style="color:black"> Then click "ENTER" <br></p>
                            <p style="color: black;"> If the word you entered is valid, you will be given the following feedback: <br></p> <b>
                            <p style="color:#538d4e" ;> Green: The letter is in the word of the day and in
                                the correct position <br> </p>
                            <p style="color:#3a4cb5"> Blue: The letter is in the word of the day but is in the
                                wrong position <br></p>
                            <p style="color: #515157"> Grey: The letter is not in the word of the day <br></p>
                        </b>
                        <p style="color:black;">You have 6 opportunities to guess the correct 5-letter word. Good
                            luck!</p>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="gameContainer">
            <div class="title">
                <h1>MULTIWORDLE SINGLE PLAYER</h1>
            </div>

            <div class="messageContainer"></div>
            <div class="tileContainer"></div>
            <div class="keyContainer"></div>
        </div>
        <script src="/cdn/index.js"></script>
    </div>
</body>

</html>