<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <title>MULTIWORDLE</title>
    <link  rel="stylesheet" href="/cdn/style.css" />
 
 
</head>




<body>

    <div class="gameContainer">
        <div class="title">
            <h1>MULTIWORDLE SINGLE PLAYER</h1>
            <h3>You have 6 opportunities to guess the correct 5-letter word. Good luck!</h3>
        </div>

        <div class="messageContainer"></div>
        <div class="tileContainer"></div>
        <div class="keyContainer"></div>
    </div>
    <script src="/cdn/index.js"></script>
</body>

</html>