* {
    color: red;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.title {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
}

.choose-mode {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 350px;
}

.Button {
    background-color: #313f47;
    box-shadow: 0 5px 0 #105cad;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 300px
}

.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    text-align: center;

}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {

    width: 270px;
    border-color: #ffc400ec;

}

.box input[type="submit"] {


    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #ffc400ec;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;

}

.box input[type="submit"]:hover {
    background: #ffc400ec;
}


.gameContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    width: 650px;
    border-bottom: solid 1px #3a3a3c;
}

.tileContainer {
    width: 350px;
    margin-bottom: 40px;
}
.tileContainer1 {
    width: 40%;
    margin-bottom: 40px;
float:left}
.tileContainer2 {
    width: 40%;
    margin-bottom: 40px;

float:right}
.tileContainer div {
    display: flex;
}
.tileContainer1 div {
    display: flex;
}
.tileContainer2 div {
    display: flex;
}

.tileContainer .tile {
    width: 90px;
    height: 60px;
    border: 2px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.tileContainer1 .tile {
    width: 40px;
    height: 40px;
    border: 1px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tileContainer2 .tile {
    width: 40px;
    height: 40px;
    border: 1px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.keyContainer {
    width: 515px;
    display: flex;
    flex-wrap: wrap;
}

.keyContainer button {
    width: 43px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #ffff17;
    margin: 4px;
}

.keyContainer button:nth-child(11) {
    margin-left: 30px;
}

.keyContainer button:nth-child(20),
.keyContainer button:nth-child(28) {
    width: 70px;
}

.tileContainer.tile.flip {
    animation: 0.3s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(25deg);
    }
    50% {
        transform: rotateY(50deg);
    }

    70% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}



.grey-block {
    background-color: #3a3a3c !important; 
    border:none !important;
}
.blue-block {
    background-color: #3a4cb5 !important;
    border:none !important;
}

.green-block {
    background-color: #538d4e !important;
    border:none !important;
}
